[Builtin Hooks]
google_java_format = true
bpfmt = true
xmllint = true
commit_msg_changeid_field = true
ktfmt = true

[Builtin Hooks Options]
ktfmt = --kotlinlang-style

[Hook Scripts]
checkstyle_hook = ${REPO_ROOT}/prebuilts/checkstyle/checkstyle.py --sha ${PREUPLOAD_COMMIT}
# go/alint for details
alint_hook = ${REPO_ROOT}/vendor/google/tools/alint
