<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.healthconnect.testapps.toolbox">

    <uses-permission android:name="android.permission.RESTORE_HEALTH_CONNECT_DATA_AND_SETTINGS" />
    <uses-permission android:name="android.permission.BACKUP_HEALTH_CONNECT_DATA_AND_SETTINGS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/AppTheme">
        <activity
            android:name=".read.HomeActivity"
            android:exported="true"
            android:label="@string/app_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".AliasMainActivity"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />

                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup" />

        <receiver
            android:name=".ToolboxProxyReceiver"
            android:exported="true" />
    </application>

</manifest>